/* Reset de estilos */
body, h1, h2, h3, p, ul, li, figure, img, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

header {
    width: 100%;
    height: 190px;
    text-align: center;
    background-color: #8c0808;
    color: white;
    padding: 20px;
    font-family: 'ADLaM Display', cursive;
}

nav ul {
    padding: 20px;
    list-style: none;
}

nav ul li {
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease;
    background-color: #8e1c1c;
    border-radius: 10%;
}

nav ul li:hover{
transform: scale(1.05);
background-color: #ffffff;
border-radius: 10%
}



nav ul li a {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 253, 253);
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px;
}
nav ul li a:hover {
    color: #333;
}




  .d-block {
    width: 100%;
    height: 500px;
  }

  .slider-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1800px;

  }



/*productos*/

.productos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px ;
    background-color: #472d2d;

    
  }
  .producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #fffafa;


  }

  .producto:hover {
    transform: scale(1.05);

  }
  .producto img {
    max-width: 100%;
    height: auto;
  }
  .producto h2 {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  .producto p {
    font-size: 1rem;
    margin: 5px 0;
  }



/*
.banner-container {
    display: block;
    justify-content: space-around;
    align-items: center;
    background-color: #d32f2f;
    height: 100px;
    margin-top: 30px;
    padding: 30px;
    transition: transform 0.3s ease
}
  
.banner-container:hover {
transform: scale(1.05);
}

.banner-container img {
    max-height: 80px;
    max-width: 100%;
}
*/







button {
    background-color: #e44d26;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c5371d;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
